body {
    background: url("https://github.com/samanthajo03/samanthastokes.github.io/blob/master/3E587D84-9941-458F-953E-DD68669C18AC.jpg") no-repeat center;
    background-size: contain;
    background-attachment: fixed;
}
