body {
  background-color: white;
}

#container {
  width: 70%;
  margin: 0 auto;
}

#logo {
  border: none;
  width: 100%;
}

#mug {
  border: none;
  width: 100%;
  length: 100%;
}

h1 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight:lighter;
  color:#0cb6d5;
}

h2 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color:#0cb6d5
}

p {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: black;
  text-align: left;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #0cb6d5;
}

a:hover {
  text-decoration: none;
  color:black;
}

a:visited {
  color: #0cb6d5;
  text-decoration:none;
}


#resume {
  border:none;
  width: 100%;
  height: 1000px;

}

nav ul li {
  display: block;
}

nav a {
  color: white;
  display: block;
  text-decoration:none;
  padding:20px 30px;
}

nav ul {
  display:none;
}

nav li a {
  color: #0cb6d5;
  font-weight: lighter;
  padding: 10px;
  text-decoration: none;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

nav li a:hover {
  background-color: white;
  color: black;
}

.menu-trigger {
    font-size: 1.75em;
    width: 2em;
}

@media screen and (min-width: 700px) {

    nav ul {
        flex-flow: row;
        justify-content: center;
        margin-bottom: 25px;
    }

    nav ul li {
      padding: 0 40px;
    }

}

@media screen and (min-width: 700px) {

    # {
        width: 70%;
    }

    #mug {
      display: block;
      width: 66%;
      margin-top: 0.5em;
      max-width: 500px;
      float: left;
      margin-right: 25px;
    }
}*


@media screen and (min-width:1000px) {

  nav ul li {
    margin: 5px;
  }


  #index1 {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "a a a"
    "b b c"
  }


  nav {
    width: 100%;
    grid-area: a;
  }

  #mug {
    width: 100%;
    grid-area: b;

  }

  p {
    grid-area: c;
  }


}

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }
