.container {
  width: 90%
  margin: 0 auto;
}

body {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  size: 40px;
  color: #2b82a8;
  font-weight: bold;
  text-align: center;
}

#nav {
  padding: 0;
  border-bottom-color: grey;
  border-bottom-style: solid;
  border-bottom-width: .5px;
  margin-left: 50px;
  margin-right: 50px;
}

#nav li {
  list-style-type: none;
  display: inline;
}

.resume {
  padding-right: 0px;
  padding-left: 15px;
}

.work {
  padding-right:20px;
  padding-left: 0px;
}

#nav a:link {
  color: #2b82a8;
  background-color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  size: 16px;
  text-decoration: none;
  font-size: 25px;
}

#nav a:hover, #nav a:active {
  background-color: white;
  text-decoration: none;
  color: black;
}

#nav a:visited {
  text-decoration: none;
  color: #2b82a8;
}

p {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  size: 16px;
  color: black;
  font-weight:600;
  text-align: left;
}

img {
  border: none;
  display: inline;
}
