/*OVERALL STYLE*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

#container {
  width: 70%;
  margin: 0 auto;
}

#logo {
  border: none;
  width: 100%;
  padding-top: 30px;
}

#mug {
  border: none;
  width: 100%;
  length: 100%;
}

/*TEXT STYLES*/
h1 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight:lighter;
  color:#0cb6d5;
}

h2 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color:#0cb6d5;
}

p {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: black;
  text-align: left;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #0cb6d5;
}

/*LINK STYLES*/
a:hover {
  text-decoration: none;
  color:black;
}

a:visited {
  color: #0cb6d5;
  text-decoration:none;
}

/*NAV BAR*/
#topnav ul li {
  display: block;
}

#topnav a {
  color: white;
  display: block;
  text-decoration:none;
  padding:20px 30px;
}

#topnav ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#topnav li a {
  color: #0cb6d5;
  font-weight: lighter;
  padding: 10px;
  text-decoration: none;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

#topnav li a:hover {
  background-color: white;
  color: black;
}

.menu-trigger {
    font-size: 1.75em;
    width: 2em;
    display: none;
}

/*BOTTOM NAV STYLE*/
.bottom-nav {
  bottom: 0;
  width: 100%;
}

.bottom-nav ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.bottom-nav ul li {
  display: block;
}

.bottom-nav img{
  width: 30px;
  justify-content: center;
}

/*FOOTER*/
#footer p{
width: 100%;
text-align: center;
bottom: 0;
}

@media screen and (min-width: 600px) { /*DESKTOP AND TABLET*/

  #logo {
    margin-bottom: 10px;
  }

/*nav bar*/
  #topnav ul {
    flex-flow: row;
    justify-content:center;
    margin-bottom: 25px;
  }
  #topnav ul li {
    padding: 0 40px;
  }

  #mug {
    display: block;
    width: 66%;
    max-width: 400px;
    float: left;
  }

/*flex layout for index page*/
  #index1 {
    margin-top: .5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "a b"
  }

  #mug {
    width: 100%;
    grid-area: a;
  }

  #bio {
    grid-area: b;
  }

/*bottom nav*/
  .bottom-nav ul{
    flex-flow: row;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .bottom-nav ul li {
    padding: 0 40px;
  }

  /*flex layout for contact page*/
    #contact {
      margin-top: .5em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      grid-template-areas:
      "a b"
    }

    #mug {
      width: 100%;
      grid-area: a;
    }

    #contact-info {
      grid-area: b;
    }

/*flex layout for work page
    #clips {
      margin-left: 40px;
      margin-right: 40px;
      margin-top: .5em;
      display: grid;
      grid-template-columns: 1fr 5fr;
      grid-gap: 35px;
      grid-template-areas:
      "a b"
      "c d"
      "e f"
    }
    #features_header {
      grid-area: a;
    }
    #features {
      grid-area: b;
    }
    #news_header {
      grid-area: c;
    }
    #news {
      grid-area: d;
    }
    #music_header {
      grid-area: e;
    }
    #music {
      grid-area: f;
    }
  }*/



    @media screen and (max-width: 600px) {
      #topnav {
        display: none;
        clear:left;
      }
      #topnav a{
        float: none;
        display: block;
        text-align: center;
      }
      .menu-trigger {
        float: left;
        display: block;
        width: 100%;
      }
    }
